.idea
__pycache__
/.pytest_cache/
/.ruff_cache/
/.todo/
.todo/
.idea/
**/__pycache__/
/.legacy/
qodana.yaml
*.html
/config/secrets.env
*.ipynb_checkpoints
*.pclprof

bin
obj
csx
.vs
edge
Publish

*.user
*.suo
*.cscfg
*.Cache
*/.cache/*
*/.local/*
*/.vscode-server/*
*/.gnupg/*
*/.local/*

project.lock.json

/packages
/TestResults

/tools/NuGet.exe
/App_Data
/secrets
.secrets
appsettings.json

node_modules
dist

# Local python packages
.python_packages/

# Python Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pytest_cache*
# Azurite artifacts
__blobstorage__
__queuestorage__
__azurite_db*__.json
*/.DS_Store

*.coverage
*htmlcov

*/*secret_env*
*/*.egg-info

build/*
h2_startup.egg-info/*

*coverage.xml
*/*/junit.xml
*junit.xml

*.DS_Store
**.DS_Store
.DS_Store