certifi==2024.2.2
    # via requests
charset-normalizer==3.3.2
    # via requests
click==8.1.7
    # via
    #   geomet
    #   sentinelsat
geojson==3.1.0
    # via sentinelsat
geomet==1.1.0
    # via sentinelsat
html2text==2024.2.26
    # via sentinelsat
idna==3.7
    # via requests
requests==2.31.0
    # via sentinelsat
sentinelsat==1.2.1
    # via -r /workspace/requirements.in
tqdm==4.66.4
    # via sentinelsat
urllib3==2.2.1
    # via requests
